<!--Initial Segment Definition-->
      <h1>Select / Play Movie Fragments</h1>          
        <form id="selector">
          <h3>Pick an Interval You Want to Watch</h3>
          <div>
            <input id='id' name="id" placeholder="fragment ID" ng-model="item.idd">
          </div>
          <br></br>
          <div>
            <input id='start' name="start" placeholder="start: 0 sec." ng-model="item.start">
          </div>
          <br></br>
          <div>
            <input id="finish" name="finish" placeholder="finish: 52 sec." ng-model="item.finish">
          </div>
          <br></br>          
          <button type="submit" id="knopka_2" value="Submit" ng-click="saveData()">Save & Open the Player!</button>        
          <br></br>
          <br></br>
          <br></br>
          <br></br>          
        </form>